body {
  color: $light-gray;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: remcalc(1170);
  padding: remcalc(20);

  @include breakpoint(large) {
    padding: 0 remcalc(15);
  }
}

.social-links {
  display: flex;
}

.social-link {
  position: relative;
  font-size: remcalc(17);

  @include breakpoint(large) {
    margin-right: remcalc(5);
  }

  &:last-child {
    margin-right: 0;
  }
}
