body {
  color: $light-gray;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: remcalc(1170);
  padding: 0 remcalc(20);

  @include breakpoint(large) {
    padding: 0 remcalc(15);
  }
}

section {
  position: relative;

  &.small {
    padding: remcalc(20) 0;

    @include breakpoint(small) {
      padding: remcalc(50) 0;
    }
  }

  &.green {
    background: $light-green;
  }
}
