.homepage-header {
  padding: remcalc(75) 0;
  background: url('/img/home/hero_bg.jpg') 0 0 / cover no-repeat;
  @include breakpoint(small) {
    padding: remcalc(100) 0;
  }

  @include breakpoint(medium) {
    padding: remcalc(100) 0 0;
    margin-bottom: remcalc(150);
  }
  @include breakpoint(large) {
    padding-top: remcalc(175);
    margin-bottom: remcalc(245);
  }
}

.hero {
  max-width: remcalc(555);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .text-content {
    text-align: center;
  }
}

.hero-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: remcalc(100);
  min-height: remcalc(30);
  margin: 0 auto;
  font-size: remcalc(18);
  font-weight: $bold;
  font-family: $font-headers;
  color: $dark-gray;
  background: $light-green;
  text-transform: uppercase;
}

.hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: remcalc(100);
  margin-bottom: remcalc(25);
  border: 10px solid $dark-gray;
  text-align: center;
}

.homepage-history {
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
  }
}

.history-photo {
  position: relative;
  align-self: flex-end;

  @include breakpoint(medium) {
    flex: 0 1 remcalc(350);
    bottom: remcalc(-75);
  }

  @include breakpoint(large) {
    flex: 0 1 remcalc(450);
    bottom: remcalc(-100);
  }

  > img {
    display: block;
    width: 100%;
  }
}

.history-description {
  @include breakpoint(medium) {
    flex: 0 1 remcalc(450);
    padding-top: remcalc(100);
  }

  @include breakpoint(large) {
    flex: 0 1 remcalc(545);
    padding-top: remcalc(125);
  }

  >.text-content {
    padding-bottom: remcalc(25);
    @include breakpoint(large) {
      padding-bottom: remcalc(50);
    }
  }

}
