.footer {
  padding: remcalc(20) 0;
  @include breakpoint(small) {
    padding: remcalc(50) 0;
  }

  .social-links {
    margin-bottom: remcalc(15);

    @include breakpoint(small) {
      order: 2;
      margin-bottom: 0;
      justify-content: center;
    }

    @include breakpoint(medium) {
      justify-content: flex-end;
    }
  }
}

.footer-box {
  display: flex;
  flex-direction: column;

  @include breakpoint(small) {
    align-items: center;
  }

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @include breakpoint(small) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.footer-menu-item {
  @include just-rythm(14);
  margin-right: remcalc(35);
  color: $light-gray;
  text-transform: uppercase;
}

.footer-info {
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    margin-top: 5px;
  }
}

.footer-menu-link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: remcalc(-5);
    left: 0;
    width: 0;
    height: remcalc(4);
    transition: .3s;
  }

  &:hover {
    &:after {
      @include breakpoint(medium) {
        width: 100%;
        background: $light-green;
      }
    }
  }
}

.rights {
  display: block;
  order: 2;
  @include just-rythm(14);
  color: $light-gray;
  text-transform: uppercase;

  @include breakpoint(small) {
    order: 1;
    margin-bottom: remcalc(5);
  }

  @include breakpoint(medium) {
    margin-bottom: remcalc(20);
  }

}

